<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Questão</title>
</head>
<body>
    <h1>Formulário de Questão</h1>
    <form method="post" action="{% url 'atividades:adicionar-atividade' %}">
        {% csrf_token %}
        <div class="modal-body">
                      
          <div id="inputContainer" class="containerPairs py-3">
            <label for="repositorio">Nome do repositório</label>
            <input type="text" name="repositorio"></input>
            
            <label for="linguagem">Linguagem:</label>
            <select name="linguagem" id="linguagem">
              <option value="c">c</option>
            </select> 
            <br>
            <label for="descricao">Descrição do problema:</label>
            <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>

            <div class="form-group input-pair">
              <input type="text" id="titulo" name="titulo" df-titulo  placeholder="Título">
              <input type="text" id="entrada" name="entrada" df-entrada placeholder="Entrada">
              <input type="text" id="saida" name="saida" df-saida placeholder="Saída Esperada">
            </div>     

          </div> 
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-success mt-3" id="addInput" onclick="adicionarInputGithub(this);">Adicionar casos de teste</button>
              <button type="button" class="btn btn-success mt-3" id="removeInput" onclick="removerInputGithub(this);">Remover casos de teste</button>
            </div>
        </div>
        <input type="text" name="turma" value="{{turma}}" hidden>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>

<script>
    function adicionarInputGithub(params) {
      const inputContainer = document.getElementById("inputContainer");
      const inputPair = document.querySelector(".input-pair");

      const newInputPair = inputPair.cloneNode(true);
      newInputPair.innerHTML = `<input type="text" id="titulo${Math.random().toString(16).slice(2)} " name="titulo" df-titulo${Math.random().toString(16).slice(2)}  placeholder="Título">
                          <input type="text" id="entrada${Math.random().toString(16).slice(2)} " name="entrada" df-entrada${Math.random().toString(16).slice(2)} placeholder="Entrada">
                          <input type="text" id="saida${Math.random().toString(16).slice(2)} " name="saida" df-saida${Math.random().toString(16).slice(2)} placeholder="Saída Esperada">`
      
      inputContainer.appendChild(newInputPair);
    
    }

    // TODO: acertar a lógica para deletar os valores do drawflowJson baseado nos id's dos inputs que são deletados na classe removerInputGithub()
    /* function removeValoresDosTestesApagados(html) {
      var htmlString = html.outerHTML
      const regex = /df-(.*?)=/g;
      const substrings = [];
      let match;

      while ((match = regex.exec(htmlString)) !== null) {
          substrings.push(match[1]);
      }

      var json_string = document.getElementById('json-element').value=JSON.stringify(editor.export(), null, 4)
      var drawflowJson = JSON.parse(json_string)
      drawflowJson = drawflowJson['drawflow']['Home']['data']

      Object.values(drawflowJson).forEach(card => {
        if (card['class'] == 'github') {
          var nomesDeValoresParaRemover = Object.keys(card['data'])
          Object.values(nomesDeValoresParaRemover).forEach(nome => {
            if (substrings.includes(nome)) {
              delete card.data[nome]
            }
          })
        }
      })
      console.log(drawflowJson)
    } */
    
    function removerInputGithub(params) {
      const inputContainer = document.getElementById("inputContainer");
      const inputPairs = document.querySelectorAll(".input-pair");
      
      if (inputPairs.length > 1) {
        //removeValoresDosTestesApagados(inputPairs[inputPairs.length - 1]);
        inputContainer.removeChild(inputPairs[inputPairs.length - 1]);
      }
    }
    
</script> 