<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositórios</title>
</head>
<body>
    <h4>Faça um clone do repositório abaixo</h4>
    {% for repositorio in repositorios%}
        <a href="https://github.com/SilasTests/{{repositorio.repo_name}}" target="_blank">{{repositorio.repo_name}}</a>
        <br>
    {% endfor %}
    <br>
    <br>
    <h3>Cole a url do seu repositório.</h4>
    {% if repo_aluno %}
        <h3>Você já adicionou o repositório</h3>
        <a href="{{repo_aluno}}" target="_blank"><h4>{{ repo_aluno }}</h4></a>
    {% endif %}

    <form method="post" action="{% url 'atividades:adicionar-repositorio' %}">
        {% csrf_token %}   
        <label for="repositorio">Nome do repositório</label>
        <input type="text" name="repositorio"></input>
        <button type="submit">Enviar</button>
    </form>

    <h1>Resultados:</h1>
    <h3>Nota: {{ nota }}</h3>

</body>
</html>