<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositórios</title>
</head>
<body>
    <h4>Faça um clone do repositório abaixo</h4>
    {% for repositorio in repositorios%}
        <a href="https://github.com/SilasTests/{{repositorio.repo_name}}" target="_blank">{{repositorio.repo_name}}</a>
        <br>
    {% endfor %}
    <br>
    <br>
    <h4>Cole a url do seu repositório.</h4>
    {% if repositorio %}
        <p>Você já adicionou o repositório: <a href="{{repositorio.repo_name}}" target="_blank">{{repositorio.repo_name}}</a></p>
        <p>Veja seus resultados: </p>
        <form method="post" action="{% url 'atividades:pegar-resultados' %}">
            {% csrf_token %}
            <button type="submit">Resultados</button>
        </form>
    {% endif %}

    <form method="post" action="{% url 'atividades:adicionar-repositorio' %}">
        {% csrf_token %}   
        <label for="repositorio">Nome do repositório</label>
        <input type="text" name="repositorio"></input>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>